
<p class="h3" @onclick = "(() => OnNameSelected(normalType))">
    @normalType   
</p>
<p class="h3" @onclick="(() => OnNameSelected(reversedType))">
    @reversedType
</p>
<p class="h3" @onclick="(() => OnNameSelected(initialType))">
    @initialType
</p>
<p class="h3" @onclick="(() => OnNameSelected(emailType))">
    @emailType
</p>



@code {
    private string normalType = "";
    private string reversedType = "";
    private string initialType = "";
    private string emailType = "";

    [Parameter]
    public string FirstName { get; set; }

    [Parameter]
    public string LastName { get; set; }

    [Parameter]
    public EventCallback<string> OnNameTypeSelected { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        normalType = $"{FirstName} {LastName}";
        reversedType = $"{LastName}, {FirstName}";
        initialType = $"{FirstName.Substring(0,1)}. {LastName}";
        emailType = $"{FirstName.Substring(0, 1)}{LastName}";
    }



    private void OnNameSelected(string selectedName)
    {
        OnNameTypeSelected.InvokeAsync(selectedName);
    }
}
