<h2>@userName</h2>
<button class="btn btn-primary" @onclick="ToggleShowFix">
Fix
</button>

@if (showFix)
{
    <NameChoice FirstName="@FirstName" LastName="@LastName" OnNameTypeSelected="HandleNameTypeSelected"></NameChoice>
}



@code {
    private string userName = "";
    private bool showFix;

    [Parameter]
    public string FirstName { get; set; }

    [Parameter]
    public string LastName { get; set; }

    [Parameter]
    public string Message { get; set; }

    protected override void OnParametersSet()
    {

        base.OnParametersSet();

        userName = $"{FirstName} {LastName}";
    }

    private void ToggleShowFix()
    {
        showFix = !showFix;
    }

    private void HandleNameTypeSelected(string newName)
    {
        userName = newName;
        showFix = false;
    }

}
